.container
  .jumbotron.jumbotron-custom.animated.slideInUp
    h1.display-3.animated.fadeIn.delay-1s Bienvenido a Mag Tech
    p.lead.animated.fadeIn.delay-1s Soluciones Web

.services
  h1.display-3 Servicios
  .row
    .col-12.col-md-4
      h3 Páginas web
    .col-12.col-md-4
      h3 Aplicaciones en React Native
    .col-12.col-md-4
      h3 Dev Ops

.services
  h1.display-3 Beneficios
  .row
    .col-12.col-md-4
      h3 Diseño Adaptable
    .col-12.col-md-4
      h3 Impulsar su compañía
    .col-12.col-md-4
      h3 Optimización y Rendimiento
