/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: url(image-path('looking_at_plans'));
  background-size: cover;
  background-position: center;
}

h1 {
  @media screen and (max-width: 550px) {
    font-size: 30px !important;
  }
}

.bg-custom-transparent {
  background: rgba(0, 0, 0, 0.4) !important;
}

.navbar-brand-custom {
  font-size: 25px !important;
  font-weight: 500;
}