// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron-custom {
  background-color: rgba(240, 240, 240, 0.9) !important;
  margin-bottom: 20% !important;

  h1, p {
    color: black;
  }
}

.services {
  margin-top: 20%;
  background-color: rgba(240, 240, 240, 0.9) !important;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  h1 {
    margin-bottom: 50px;
  }
}