nav.navbar.navbar-dark.bg-custom-transparent
  .container
    = link_to 'Mag Tech', root_path, class: 'navbar-brand navbar-brand-custom'
    button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"
      span.navbar-toggler-icon

    #navbarColor02.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          = link_to t(:about_me), about_me_path, class: 'nav-link'
        li class="nav-item"
          = link_to t(:contact), contact_path, class: 'nav-link'
